:markdown
  ## Staff

  A Senior Support Engineer will be promoted to Staff Support Engineer when they have
  demonstrated significant leadership and impact; typically around resolving customer issues. This may
  involve any type of consistent "above and beyond senior level" performance, for example:

  1. Regularly submitting merge requests for customer reported/requested GitLab bugs and feature proposals
  1. Working across functional groups to deliver on projects relating to customer experience and success.
  1. Writing in-depth documentation and clarifying community communications that share knowledge and radiate GitLab's technical strengths
  1. The ability to create innovative solutions that push GitLab's technical abilities ahead of the curve
  1. Identifying significant projects that result in substantial cost savings or revenue
  1. Proactively defining and solving important architectural issues
